<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTLM2PDF</title>
</head>
<body style="background-color:#003399;">
<div style="color:white">
    <h1>HTML2PDF</h1>
    <p>Insert HTML code below</p>

    <table>
        <tr>
            <td>
                <form role="form" action="" method="POST" id="form">
                <textarea cols="150" rows="40" maxlength="2000" name="html" form="form">
<!DOCTYPE html>
<html>
    <body>
        <center><h1>Use HTML tags like this</h1></center>
    </body>
</html>
                </textarea>
                    <br><br>
                    <input type="submit" name="my-form" value="Send"/>

                </form>
            </td>

            <td style="vertical-align:top">
                <center><b>Commond Tags</b></center>
                heading &lt;/h?&gt; Heading (h1 for largest to h6 for smallest)<br>
                &lt;p&gt; paragraph &lt;/p&gt; Paragraph of Text <br>
                &lt;b&gt; bold &lt;/b&gt; Make text between tags <b>bold</b><br>
                &lt;i&gt; italic &lt;/i&gt; Make text between tags <i>italic</i><br>
                &lt;a href=&quot;<i>url</i>&quot;&gt; link name &lt;/a&gt; Create a link to another page or website<br>
                &lt;div&gt; ... &lt;/div&gt; Divide up page content into sections, and applying styles<br>
                &lt;img src=&quot;<i>filename.jpg</i>&quot;&gt; Show an image<br>
                &lt;ul&gt; &lt;li&gt; list &lt;/li&gt; &lt;/ul&gt; Unordered, bullet-point list<br>
                &lt;br&gt; Line Break (force a new line)<br>
                &lt;span style=&quot;color:red&quot;&gt; <i> red </i> &lt;/span&gt;Use CSS style to change text
                colour<br><br>
                <center><a href="http://www.simplehtmlguide.com/cheatsheet.php" target="_blank"
                           style="background-color:white">More tags</a></center>
            </td>
        </tr>
    </table>
</div>
</body>
</html>